<a href="https://colab.research.google.com/github/hurshd0/DS-Unit-2-Kaggle-Challenge/blob/master/module2/assignment_kaggle_challenge_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Kaggle Challenge, Module 2

## Assignment
- [X] Read [‚ÄúAdopting a Hypothesis-Driven Workflow‚Äù](https://outline.com/5S5tsB), a blog post by a Lambda DS student about the Tanzania Waterpumps challenge.
- [X] Continue to participate in our Kaggle challenge.
- [X] Try Ordinal Encoding.
- [X] Try a Random Forest Classifier.
- [X] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [X] Commit your notebook to your fork of the GitHub repo.

## Stretch Goals

### Doing
- [X] Add your own stretch goal(s) !
- [X] Do more exploratory data analysis, data cleaning, feature engineering, and feature selection.
- [X] Try other [categorical encodings](https://contrib.scikit-learn.org/categorical-encoding/).
- [X] Get and plot your feature importances.
- [X] Make visualizations and share on Slack.

### Reading

Top recommendations in _**bold italic:**_

#### Decision Trees
- A Visual Introduction to Machine Learning, [Part 1: A Decision Tree](http://www.r2d3.us/visual-intro-to-machine-learning-part-1/),  and _**[Part 2: Bias and Variance](http://www.r2d3.us/visual-intro-to-machine-learning-part-2/)**_
- [Decision Trees: Advantages & Disadvantages](https://christophm.github.io/interpretable-ml-book/tree.html#advantages-2)
- [How a Russian mathematician constructed a decision tree ‚Äî by hand ‚Äî to solve a medical problem](http://fastml.com/how-a-russian-mathematician-constructed-a-decision-tree-by-hand-to-solve-a-medical-problem/)
- [How decision trees work](https://brohrer.github.io/how_decision_trees_work.html)
- [Let‚Äôs Write a Decision Tree Classifier from Scratch](https://www.youtube.com/watch?v=LDRbO9a6XPU)

#### Random Forests
- [_An Introduction to Statistical Learning_](http://www-bcf.usc.edu/~gareth/ISL/), Chapter 8: Tree-Based Methods
- [Coloring with Random Forests](http://structuringtheunstructured.blogspot.com/2017/11/coloring-with-random-forests.html)
- _**[Random Forests for Complete Beginners: The definitive guide to Random Forests and Decision Trees](https://victorzhou.com/blog/intro-to-random-forests/)**_

#### Categorical encoding for trees
- [Are categorical variables getting lost in your random forests?](https://roamanalytics.com/2016/10/28/are-categorical-variables-getting-lost-in-your-random-forests/)
- [Beyond One-Hot: An Exploration of Categorical Variables](http://www.willmcginnis.com/2015/11/29/beyond-one-hot-an-exploration-of-categorical-variables/)
- _**[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)**_
- _**[Coursera ‚Äî¬†How to Win a Data Science Competition: Learn from Top Kagglers ‚Äî¬†Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)**_
- [Mean (likelihood) encodings: a comprehensive study](https://www.kaggle.com/vprokopev/mean-likelihood-encodings-a-comprehensive-study)
- [The Mechanics of Machine Learning, Chapter 6: Categorically Speaking](https://mlbook.explained.ai/catvars.html)

#### Imposter Syndrome
- [Effort Shock and Reward Shock (How The Karate Kid Ruined The Modern World)](http://www.tempobook.com/2014/07/09/effort-shock-and-reward-shock/)
- [How to manage impostor syndrome in data science](https://towardsdatascience.com/how-to-manage-impostor-syndrome-in-data-science-ad814809f068)
- ["I am not a real data scientist"](https://brohrer.github.io/imposter_syndrome.html)
- _**[Imposter Syndrome in Data Science](https://caitlinhudon.com/2018/01/19/imposter-syndrome-in-data-science/)**_

In [1]:
# If you're in Colab...
import os, sys
in_colab = 'google.colab' in sys.modules

if in_colab:
    # Install required python packages:
    # category_encoders, version >= 2.0
    # pandas-profiling, version >= 2.0
    # plotly, version >= 4.0
    !pip install --upgrade category_encoders pandas-profiling plotly
    # Remove content files
    !rm -rf content
    !mkdir content
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/hurshd0/DS-Unit-2-Kaggle-Challenge.git
    !git pull origin master
    
    # Change into directory for module
    os.chdir('module2')
    !rm -rf eda.py
    !wget https://raw.githubusercontent.com/hurshd0/ds-cheat-sheets/master/eda.py

Requirement already up-to-date: category_encoders in /usr/local/lib/python3.6/dist-packages (2.0.0)
Requirement already up-to-date: pandas-profiling in /usr/local/lib/python3.6/dist-packages (2.3.0)
Requirement already up-to-date: plotly in /usr/local/lib/python3.6/dist-packages (4.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.4)
Requirement already satisfied, skipping upgrade: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.3.0)
Requirement already satisfied, skipping upgrade: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied, skipping upgrade: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied, skipping upgrade: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.1)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.21.3)
Requirement already satisfied, skipping upgrade: confuse>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (1.0.0)
Requirement already satisfied, skipping upgrade: missingno>=0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (0.4.2)
Requirement already satisfied, skipping upgrade: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (3.0.3)
Requirement already satisfied, skipping upgrade: astropy in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (3.0.5)
Requirement already satisfied, skipping upgrade: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (2.10.1)
Requirement already satisfied, skipping upgrade: phik>=0.9.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (0.9.8)
Requirement already satisfied, skipping upgrade: htmlmin>=0.1.12 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.12.0)
Requirement already satisfied, skipping upgrade: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.13.2)
Requirement already satisfied, skipping upgrade: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse>=1.0.0->pandas-profiling) (3.13)
Requirement already satisfied, skipping upgrade: seaborn in /usr/local/lib/python3.6/dist-packages (from missingno>=0.4.2->pandas-profiling) (0.9.0)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.4.2)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (0.10.0)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.1.0)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas-profiling) (1.1.1)
Requirement already satisfied, skipping upgrade: pytest-pylint>=0.13.0 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling) (0.14.1)
Requirement already satisfied, skipping upgrade: nbconvert>=5.3.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling) (5.5.0)
Requirement already satisfied, skipping upgrade: jupyter-client>=5.2.3 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling) (5.3.1)
Requirement already satisfied, skipping upgrade: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling) (0.40.1)
Requirement already satisfied, skipping upgrade: pytest>=4.0.2 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling) (5.0.1)
Requirement already satisfied, skipping upgrade: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas-profiling) (41.0.1)
Requirement already satisfied, skipping upgrade: pylint>=1.4.5 in /usr/local/lib/python3.6/dist-packages (from pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (2.3.1)
Requirement already satisfied, skipping upgrade: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.3)
Requirement already satisfied, skipping upgrade: nbformat>=4.4 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (4.4.0)
Requirement already satisfied, skipping upgrade: pygments in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (2.1.3)
Requirement already satisfied, skipping upgrade: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (3.1.0)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (1.4.2)
Requirement already satisfied, skipping upgrade: mistune>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.8.4)
Requirement already satisfied, skipping upgrade: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.6.0)
Requirement already satisfied, skipping upgrade: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (4.5.0)
Requirement already satisfied, skipping upgrade: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.4.2)
Requirement already satisfied, skipping upgrade: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (4.3.2)
Requirement already satisfied, skipping upgrade: tornado>=4.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling) (4.5.3)
Requirement already satisfied, skipping upgrade: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling) (17.0.0)
Requirement already satisfied, skipping upgrade: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik>=0.9.8->pandas-profiling) (0.29.0)
Requirement already satisfied, skipping upgrade: wcwidth in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.1.7)
Requirement already satisfied, skipping upgrade: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (1.8.0)
Requirement already satisfied, skipping upgrade: importlib-metadata>=0.12 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.19)
Requirement already satisfied, skipping upgrade: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (7.2.0)
Requirement already satisfied, skipping upgrade: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (1.3.0)
Requirement already satisfied, skipping upgrade: pluggy<1.0,>=0.12 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.12.0)
Requirement already satisfied, skipping upgrade: packaging in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (19.1)
Requirement already satisfied, skipping upgrade: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (19.1.0)
Requirement already satisfied, skipping upgrade: astroid<3,>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (2.2.5)
Requirement already satisfied, skipping upgrade: isort<5,>=4.2.5 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (4.3.21)
Requirement already satisfied, skipping upgrade: mccabe<0.7,>=0.6 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (0.6.1)
Requirement already satisfied, skipping upgrade: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.2.0)
Requirement already satisfied, skipping upgrade: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (2.6.0)
Requirement already satisfied, skipping upgrade: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.5.1)
Requirement already satisfied, skipping upgrade: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (4.4.0)
Requirement already satisfied, skipping upgrade: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.12->pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.5.2)
Requirement already satisfied, skipping upgrade: typed-ast>=1.3.0; implementation_name == "cpython" in /usr/local/lib/python3.6/dist-packages (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (1.4.0)
Requirement already satisfied, skipping upgrade: lazy-object-proxy in /usr/local/lib/python3.6/dist-packages (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (1.4.1)
Requirement already satisfied, skipping upgrade: wrapt in /usr/local/lib/python3.6/dist-packages (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (1.11.2)
Reinitialized existing Git repository in /content/.git/
fatal: remote origin already exists.
From https://github.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge
 * branch            master     -> FETCH_HEAD
Already up to date.
--2019-08-13 20:13:48--  https://raw.githubusercontent.com/hurshd0/ds-cheat-sheets/master/eda.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16942 (17K) [text/plain]
Saving to: ‚Äòeda.py‚Äô

eda.py              100%[===================>]  16.54K  --.-KB/s    in 0.01s

2019-08-13 20:13:48 (1.29 MB/s) - ‚Äòeda.py‚Äô saved [16942/16942]

# IMPORTS

In [0]:
################################ EDA IMPORTS ###################################
import pandas as pd
import pandas_profiling
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go # interactive low-level plotting lib https://plot.ly/python/
import plotly.express as px #high-level api wrapper for plotly https://plot.ly/python/plotly-express/#visualize-distributions
# ---------------- Plot libs settings ------------- #
plt.style.use('seaborn-darkgrid')
sns.set(context='notebook', style='darkgrid', palette='colorblind')
# Seting a universal figure size 
plt.rcParams['figure.figsize'] = (10, 6)

# ---------------- Pandas settings --------------- #
# Removes rows and columns truncation of '...'
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)


# --------------------- Custom lib imports --------------#
import eda

# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

#################################### ML IMPORTS ################################
### Pre-Processing
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

### Train/Test - Split & CV
from sklearn.model_selection import train_test_split

### Classifiers
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

### Post-processing
from sklearn.pipeline import make_pipeline

################################################################################

# LOAD DATA

In [3]:
def load_dataset():
    train = pd.merge(pd.read_csv('../data/tanzania/train_features.csv'), 
                 pd.read_csv('../data/tanzania/train_labels.csv'))
    test = pd.read_csv('../data/tanzania/test_features.csv')
    sample_submission = pd.read_csv('../data/tanzania/sample_submission.csv')
    print(f'''
    -------------------- SHAPE ---------------------
    Train Set: {train.shape}
    Test Set: {test.shape}
    Sample Submission: {sample_submission.shape}
    ------------------------------------------------
    ''')
    return (train, test, sample_submission)
traindf, testdf, sampledf = load_dataset()

    -------------------- SHAPE ---------------------
    Train Set: (59400, 41)
    Test Set: (14358, 40)
    Sample Submission: (14358, 2)
    ------------------------------------------------

# Random forest üåæüå¥üèùüå≤üå≥üçÄ

In [4]:
def wrangle(df):
    """Wrangle train, validate, and test sets in the same way"""
    
    # Prevent SettingWithCopyWarning
    df = df.copy()

    # Remove duplicate columns and useless one
    useless_columns = ['recorded_by', 'quantity_group', 'num_private']
    df = df.drop(useless_columns, axis=1)

    # Set `id` to be the index
    df = df.set_index('id', drop=True)

    # Set correct data type for 
    ## - datetime columns
    df['date_recorded'] = pd.to_datetime(df['date_recorded'], infer_datetime_format=True)
    df['year_recorded'] = df['date_recorded'].dt.year
    df['month_recorded'] = df['date_recorded'].dt.month
    df['day_recorded'] = df['date_recorded'].dt.day
    
    # Create feature
    # Add last_inspeaction_year and years_since_construction
    df['years_since_construction'] = df['year_recorded'] - df['construction_year']
    df.loc[(df['years_since_construction'] < 0), 'years_since_construction'] = np.NaN
    df.loc[(df['years_since_construction'] > 100), 'years_since_construction'] = np.NaN
    
    # Drop datetime columns
    df = df.drop('date_recorded', axis=1)

    # Sanitize categorical columns
    categorical_columns = eda.get_categorical_columns(df)
    exclude_cols = ['public_meeting', 'permit']
    categorical_columns = [col for col in categorical_columns if col not in exclude_cols]
    for col in categorical_columns:
        df[col] = df[col].str.strip().str.lower()
       
    # Fix Null Island - latitudes and longitudes
    null_island = {'longitude':0, 'latitude':-2e-8}
    mask = (df['longitude'] == null_island['longitude']) & (df['latitude'] == null_island['latitude'])
    loc = 'region'
    locs = df.loc[mask, loc].unique()
    for k in null_island.keys():
        for loc_name in locs:
            df.loc[mask & (df[loc] == loc_name), k] = df[~mask].groupby(loc)[k].mean()[loc_name]

    # Clean numerical columns
    null_placeholders = {'amount_tsh':0, 'gps_height':0, 'population':0, 'construction_year':0}
    for col, null_val in null_placeholders.items():
        df[col] = df[col].replace(null_val, np.NaN)
        
    cols_with_zeros = ['construction_year', 'years_since_construction',
                       'gps_height', 'population', 'permit', 'public_meeting']
    for col in cols_with_zeros:
        df[col+'_MISSING'] = (df[col].isnull()).astype(int)

    # Clean low cardinality categorical columns
    min_card = 1
    max_card = 50
    low_card_cols = [col for col in sorted(eda.get_categorical_columns(df)) if (df[col].nunique() > min_card) and (df[col].nunique() < max_card)]
    nan_labels = ['unknown', 'none', '0']
    for col in low_card_cols:
        df[col] = df[col].replace(nan_labels, np.NaN)

    # Reduce high-cardinality columns
    high_card_cols = [col for col in df.describe(include=['object']).columns if df[col].nunique() > max_card]
    nan_labels = ['unknown', 'none', '0']
    for col in high_card_cols:
        df[col] = df[col].replace(nan_labels, np.NaN)
    for col in high_card_cols:
        top10 = df[col].value_counts()[:10].index
        df.loc[~df[col].isin(top10), col] = 'other'
    # return the wrangled dataframe
    return df


train = wrangle(traindf)
test = wrangle(testdf)

print(f'''
------------ SHAPE ----------------
    Training Set: {train.shape}
    Test Set: {test.shape}
-----------------------------------
''')

------------ SHAPE ----------------
    Training Set: (59400, 46)
    Test Set: (14358, 45)
-----------------------------------

## QUICK EDA üåà - Always

In [5]:
eda_df = train.copy()
for label in eda_df['status_group'].unique():
    eda_df[label] = (eda_df['status_group']==label).astype(int)
eda_df.head()

       amount_tsh  funder  gps_height installer  longitude   latitude  wpt_name                    basin subvillage   region  region_code  district_code    lga   ward  population public_meeting scheme_management scheme_name permit  construction_year extraction_type extraction_type_group extraction_type_class management management_group         payment payment_type water_quality quality_group      quantity                source           source_type source_class              waterpoint_type waterpoint_type_group    status_group  year_recorded  month_recorded  day_recorded  years_since_construction  construction_year_MISSING  years_since_construction_MISSING  gps_height_MISSING  population_MISSING  permit_MISSING  public_meeting_MISSING  functional  non functional  functional needs repair
id
69572      6000.0   other      1390.0     other  34.938093  -9.856322     other               lake nyasa      other   iringa           11              5  other  other       109.0           True               vwc       other  False             1999.0         gravity               gravity               gravity        vwc       user-group    pay annually     annually          soft          good        enough                spring                spring  groundwater           communal standpipe    communal standpipe      functional           2011               3            14                      12.0                          0                                 0                   0                   0               0                       0           1               0                        0
8776          NaN   other      1399.0     other  34.698766  -2.147466  zahanati            lake victoria      other     mara           20              2  other  other       280.0            NaN             other       other   True             2010.0         gravity               gravity               gravity        wug       user-group       never pay    never pay          soft          good  insufficient  rainwater harvesting  rainwater harvesting      surface           communal standpipe    communal standpipe      functional           2013               3             6                       3.0                          0                                 0                   0                   0               0                       1           1               0                        0
34310        25.0   other       686.0     other  37.460664  -3.821329     other                  pangani    majengo  manyara           21              4  other  other       250.0           True               vwc       other   True             2009.0         gravity               gravity               gravity        vwc       user-group  pay per bucket   per bucket          soft          good        enough                   dam                   dam      surface  communal standpipe multiple    communal standpipe      functional           2013               2            25                       4.0                          0                                 0                   0                   0               0                       0           1               0                        0
67743         NaN  unicef       263.0     other  38.486161 -11.155298     other  ruvuma / southern coast      other   mtwara           90             63  other  other        58.0           True               vwc       other   True             1986.0     submersible           submersible           submersible        vwc       user-group       never pay    never pay          soft          good           dry           machine dbh              borehole  groundwater  communal standpipe multiple    communal standpipe  non functional           2013               1            28                      27.0                          0                                 0                   0                   0               0                       0           0               1                        0
19728         NaN   other         NaN     other  31.130847  -1.825359   shuleni            lake victoria      other   kagera           18              1  other  other         NaN           True               NaN       other   True                NaN         gravity               gravity               gravity      other            other       never pay    never pay          soft          good      seasonal  rainwater harvesting  rainwater harvesting      surface           communal standpipe    communal standpipe      functional           2011               7            13                       NaN                          1                                 1                   1                   1               0                       0           1               0                        0

In [6]:
eda_df.describe()

          amount_tsh    gps_height     longitude      latitude   region_code  district_code    population  construction_year  year_recorded  month_recorded  day_recorded  years_since_construction  construction_year_MISSING  years_since_construction_MISSING  gps_height_MISSING  population_MISSING  permit_MISSING  public_meeting_MISSING    functional  non functional  functional needs repair
count   17761.000000  38962.000000  59400.000000  59400.000000  59400.000000   59400.000000  38019.000000       38691.000000   59400.000000    59400.000000  59400.000000              38682.000000               59400.000000                      59400.000000        59400.000000        59400.000000    59400.000000            59400.000000  59400.000000    59400.000000             59400.000000
mean     1062.351942   1018.860839     35.089400     -5.800779     15.297003       5.629747    281.087167        1996.814686    2011.921667        4.375640     15.621498                 15.360245                   0.348636                          0.348788            0.344074            0.359949        0.051448                0.056128      0.543081        0.384242                 0.072677
std      5409.344940    612.566092      2.589767      2.808707     17.587406       9.633649    564.687660          12.472045       0.958758        3.029247      8.687553                 12.490610                   0.476543                          0.476591            0.475069            0.479989        0.220911                0.230171      0.498145        0.486420                 0.259607
min         0.200000    -90.000000     29.607122    -11.649440      1.000000       0.000000      1.000000        1960.000000    2002.000000        1.000000      1.000000                  0.000000                   0.000000                          0.000000            0.000000            0.000000        0.000000                0.000000      0.000000        0.000000                 0.000000
25%        50.000000    393.000000     33.234106     -8.540621      5.000000       2.000000     40.000000        1987.000000    2011.000000        2.000000      8.000000                  5.000000                   0.000000                          0.000000            0.000000            0.000000        0.000000                0.000000      0.000000        0.000000                 0.000000
50%       250.000000   1167.000000     34.908743     -5.021597     12.000000       3.000000    150.000000        2000.000000    2012.000000        3.000000     16.000000                 13.000000                   0.000000                          0.000000            0.000000            0.000000        0.000000                0.000000      1.000000        0.000000                 0.000000
75%      1000.000000   1498.000000     37.178387     -3.357580     17.000000       5.000000    324.000000        2008.000000    2013.000000        7.000000     23.000000                 25.000000                   1.000000                          1.000000            1.000000            1.000000        0.000000                0.000000      1.000000        1.000000                 0.000000
max    350000.000000   2770.000000     40.345193     -0.998464     99.000000      80.000000  30500.000000        2013.000000    2013.000000       12.000000     31.000000                 53.000000                   1.000000                          1.000000            1.000000            1.000000        1.000000                1.000000      1.000000        1.000000                 1.000000

In [7]:
eda_df.describe(exclude='number').T.sort_values(by='unique')

                       count unique                 top   freq
source_class           59122      2         groundwater  45794
public_meeting         56066      2                True  51011
permit                 56344      2                True  38852
status_group           59400      3          functional  32259
quantity               58611      4              enough  33186
management_group       58839      4          user-group  52490
quality_group          57524      5                good  50818
payment_type           51243      6           never pay  25348
payment                51243      6           never pay  25348
waterpoint_type_group  59400      6  communal standpipe  34625
waterpoint_type        59400      7  communal standpipe  28522
source_type            59400      7              spring  17021
water_quality          57524      7                soft  50818
extraction_type_class  59400      7             gravity  26780
basin                  59400      9       lake victoria  10248
source                 59334      9              spring  17021
funder                 59400     11               other  36967
scheme_name            59400     11               other  55601
scheme_management      55522     11                 vwc  36793
ward                   59400     11               other  57168
lga                    59400     11               other  46930
subvillage             59400     11               other  56342
wpt_name               59400     11               other  54620
installer              59400     11               other  32047
management             58839     11                 vwc  40507
extraction_type_group  59400     13             gravity  26780
extraction_type        59400     18             gravity  26780
region                 59400     21              iringa   5294

In [8]:
eda_df.isnull().sum()

amount_tsh                          41639
funder                                  0
gps_height                          20438
installer                               0
longitude                               0
latitude                                0
wpt_name                                0
basin                                   0
subvillage                              0
region                                  0
region_code                             0
district_code                           0
lga                                     0
ward                                    0
population                          21381
public_meeting                       3334
scheme_management                    3878
scheme_name                             0
permit                               3056
construction_year                   20709
extraction_type                         0
extraction_type_group                   0
extraction_type_class                   0
management                            561
management_group                      561
payment                              8157
payment_type                         8157
water_quality                        1876
quality_group                        1876
quantity                              789
source                                 66
source_type                             0
source_class                          278
waterpoint_type                         0
waterpoint_type_group                   0
status_group                            0
year_recorded                           0
month_recorded                          0
day_recorded                            0
years_since_construction            20718
construction_year_MISSING               0
years_since_construction_MISSING        0
gps_height_MISSING                      0
population_MISSING                      0
permit_MISSING                          0
public_meeting_MISSING                  0
functional                              0
non functional                          0
functional needs repair                 0
dtype: int64

## TRAIN-TEST SPLIT

In [9]:
### Train/Test - Split & CV

def print_shape(train, val, title):
    print(
    '''------- SHAPE - {} ---------
    Training Set: {}
    Validation Set: {}
    '''.format(title, train.shape, val.shape))
# Split train into train & val
train, val = train_test_split(train, train_size=0.80, test_size=0.20, 
                              stratify=train['status_group'], random_state=42)


print_shape(train, val, 'After Splitting Train -> Train & Val')

------- SHAPE - After Splitting Train -> Train & Val ---------
    Training Set: (47520, 46)
    Validation Set: (11880, 46)

## Setting Baseline for Random Forest üå≤

#### Just Numerical Features üî¢ w/ One-Hot Encodings + Simpute Imputer

In [10]:
# 1. Subset features

target = 'status_group'
numeric_features = eda.get_numeric_columns(train)
print('Numeric Features we will be using: \n')
for val in numeric_features:
    print(val)

X_train = train[numeric_features]
y_train = train[target]
X_val = val[numeric_features]
y_val = val[target]
X_test = test[numeric_features]

print_shape(X_train, X_val, 'After Subsetting Train & Val')

Numeric Features we will be using:

amount_tsh
gps_height
longitude
latitude
region_code
district_code
population
construction_year
year_recorded
month_recorded
day_recorded
years_since_construction
construction_year_MISSING
years_since_construction_MISSING
gps_height_MISSING
population_MISSING
permit_MISSING
public_meeting_MISSING

TypeError: ignored

In [0]:
encoder = ce.OneHotEncoder(use_cat_names=True, handle_missing='indicator')
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

def print_shape(train, val, title):
    print(
    '''------- SHAPE - {} ---------
    Training Set: {}
    Validation Set: {}
    '''.format(title, train.shape, val.shape))
print_shape(X_train_encoded, X_val_encoded, 'After One Hot Encoding')

#### Just Categorical Features üÜé w/ One-Hot Encodings + Simpute Imputer

#### Combined Numerical + Categorical Features w/ One-Hot Encodings + Simpute Imputer