<a href="https://colab.research.google.com/github/ThomasMcDaniel91/DS-Unit-2-Kaggle-Challenge/blob/master/module3-cross-validation/LS_DS_223_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 2, Module 3*

---

# Cross-Validation


## Assignment
- [ ] [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2), then submit your dataset.
- [ ] Continue to participate in our Kaggle challenge. 
- [ ] Use scikit-learn for hyperparameter optimization with RandomizedSearchCV.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.


You won't be able to just copy from the lesson notebook to this assignment.

- Because the lesson was ***regression***, but the assignment is ***classification.***
- Because the lesson used [TargetEncoder](https://contrib.scikit-learn.org/categorical-encoding/targetencoder.html), which doesn't work as-is for _multi-class_ classification.

So you will have to adapt the example, which is good real-world practice.

1. Use a model for classification, such as [RandomForestClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html)
2. Use hyperparameters that match the classifier, such as `randomforestclassifier__ ...`
3. Use a metric for classification, such as [`scoring='accuracy'`](https://scikit-learn.org/stable/modules/model_evaluation.html#common-cases-predefined-values)
4. If you’re doing a multi-class classification problem — such as whether a waterpump is functional, functional needs repair, or nonfunctional — then use a categorical encoding that works for multi-class classification, such as [OrdinalEncoder](https://contrib.scikit-learn.org/categorical-encoding/ordinal.html) (not [TargetEncoder](https://contrib.scikit-learn.org/categorical-encoding/targetencoder.html))



## Stretch Goals

### Reading
- Jake VanderPlas, [Python Data Science Handbook, Chapter 5.3](https://jakevdp.github.io/PythonDataScienceHandbook/05.03-hyperparameters-and-model-validation.html), Hyperparameters and Model Validation
- Jake VanderPlas, [Statistics for Hackers](https://speakerdeck.com/jakevdp/statistics-for-hackers?slide=107)
- Ron Zacharski, [A Programmer's Guide to Data Mining, Chapter 5](http://guidetodatamining.com/chapter5/), 10-fold cross validation
- Sebastian Raschka, [A Basic Pipeline and Grid Search Setup](https://github.com/rasbt/python-machine-learning-book/blob/master/code/bonus/svm_iris_pipeline_and_gridsearch.ipynb)
- Peter Worcester, [A Comparison of Grid Search and Randomized Search Using Scikit Learn](https://blog.usejournal.com/a-comparison-of-grid-search-and-randomized-search-using-scikit-learn-29823179bc85)

### Doing
- Add your own stretch goals!
- Try other [categorical encodings](https://contrib.scikit-learn.org/categorical-encoding/). See the previous assignment notebook for details.
- In additon to `RandomizedSearchCV`, scikit-learn has [`GridSearchCV`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html). Another library called scikit-optimize has [`BayesSearchCV`](https://scikit-optimize.github.io/notebooks/sklearn-gridsearchcv-replacement.html). Experiment with these alternatives.
- _[Introduction to Machine Learning with Python](http://shop.oreilly.com/product/0636920030515.do)_ discusses options for "Grid-Searching Which Model To Use" in Chapter 6:

> You can even go further in combining GridSearchCV and Pipeline: it is also possible to search over the actual steps being performed in the pipeline (say whether to use StandardScaler or MinMaxScaler). This leads to an even bigger search space and should be considered carefully. Trying all possible solutions is usually not a viable machine learning strategy. However, here is an example comparing a RandomForestClassifier and an SVC ...

The example is shown in [the accompanying notebook](https://github.com/amueller/introduction_to_ml_with_python/blob/master/06-algorithm-chains-and-pipelines.ipynb), code cells 35-37. Could you apply this concept to your own pipelines?

### BONUS: Stacking!

Here's some code you can use to "stack" multiple submissions, which is another form of ensembling:

```python
import pandas as pd

# Filenames of your submissions you want to ensemble
files = ['submission-01.csv', 'submission-02.csv', 'submission-03.csv']

target = 'status_group'
submissions = (pd.read_csv(file)[[target]] for file in files)
ensemble = pd.concat(submissions, axis='columns')
majority_vote = ensemble.mode(axis='columns')[0]

sample_submission = pd.read_csv('sample_submission.csv')
submission = sample_submission.copy()
submission[target] = majority_vote
submission.to_csv('my-ultimate-ensemble-submission.csv', index=False)
```

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
import pandas as pd

# Merge train_features.csv & train_labels.csv
train = pd.merge(pd.read_csv(DATA_PATH+'waterpumps/train_features.csv'), 
                 pd.read_csv(DATA_PATH+'waterpumps/train_labels.csv'))

# Read test_features.csv & sample_submission.csv
test = pd.read_csv(DATA_PATH+'waterpumps/test_features.csv')
sample_submission = pd.read_csv(DATA_PATH+'waterpumps/sample_submission.csv')

In [3]:
train.head()

      id  amount_tsh  ... waterpoint_type_group    status_group
0  69572      6000.0  ...    communal standpipe      functional
1   8776         0.0  ...    communal standpipe      functional
2  34310        25.0  ...    communal standpipe      functional
3  67743         0.0  ...    communal standpipe  non functional
4  19728         0.0  ...    communal standpipe      functional

[5 rows x 41 columns]

In [0]:
import category_encoders as ce
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
import numpy as np

In [0]:
train, val = train_test_split(train, train_size=0.8, test_size=0.2, stratify=train['status_group'], random_state=1)

def wrangle(X):
  X = X.copy()
  #replacing 'null island' values with 0
  X['latitude'] = X['latitude'].replace(-2e08, 0)
  cols_with_zeroes = ['longitude', 'latitude']
  #goes through selected columns replacing 0s with nans
  for col in cols_with_zeroes:
    X[col] = X[col].replace(0, np.nan)
  #dropping useless columns
  X = X.drop(columns=['quantity_group', 'recorded_by'])
  return X

train = wrangle(train)
val = wrangle(val)
test = wrangle(test)

In [8]:
train.head()

          id  amount_tsh  ... waterpoint_type_group    status_group
1670   57169         0.0  ...             hand pump  non functional
50137  43356         0.0  ...             hand pump  non functional
57558  50692         0.0  ...             hand pump      functional
37789  52556      1000.0  ...    communal standpipe  non functional
47266  17357         0.0  ...                 other  non functional

[5 rows x 39 columns]

In [0]:
target = 'status_group'
total_feats = train.drop(columns=target)

In [0]:
#putting the numeric column names into a list
numeric_feats = total_feats.select_dtypes(include='number').columns.tolist()
#putting all other features into a seperate column split by cardinality of 25
cardinal_feats = total_feats.select_dtypes(exclude='number').nunique()
high_card_feats = cardinal_feats[cardinal_feats <= 25].index.tolist()
low_card_feats = cardinal_feats[cardinal_feats > 25].index.tolist()

In [0]:
ord_feats = numeric_feats + high_card_feats
#setting up the first test with ordinal encoding with
#the numeric and high cardinality features
X_train = train[ord_feats]
y_train = train[target]

X_val = val[ord_feats]
y_val = val[target]

X_test = test[ord_feats]

In [0]:
#making the pipeline
pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(),
    RandomForestClassifier(random_state=20, n_jobs=-1)
)

In [0]:
from sklearn.model_selection import RandomizedSearchCV

#setting up the parameters to use with the randomized cv search

hypers = {
    'simpleimputer__strategy': ['mean', 'median', 'most_frequent'],
    'randomforestclassifier__min_samples_split': [4, 6, 8, 10],
    'randomforestclassifier__max_depth': [10, 15, 20, 40, 50],
    'randomforestclassifier__n_estimators': [20, 50, 80]

}

search = RandomizedSearchCV(
    pipeline,
    param_distributions = hypers,
    n_iter=3,
    cv=2,
    scoring='accuracy',
    verbose=10,
    return_train_score=True,
    n_jobs=-1
)

In [16]:
search.fit(X_train, y_train)

Fitting 2 folds for each of 3 candidates, totalling 6 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    7.1s
[Parallel(n_jobs=-1)]: Done   4 out of   6 | elapsed:   13.5s remaining:    6.8s
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:   15.7s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:   15.7s finished

RandomizedSearchCV(cv=2, error_score=nan,
                   estimator=Pipeline(memory=None,
                                      steps=[('ordinalencoder',
                                              OrdinalEncoder(cols=None,
                                                             drop_invariant=False,
                                                             handle_missing='value',
                                                             handle_unknown='value',
                                                             mapping=None,
                                                             return_df=True,
                                                             verbose=0)),
                                             ('simpleimputer',
                                              SimpleImputer(add_indicator=False,
                                                            copy=True,
                                                            fill_value=None,
                                                            missing_values=nan,
                                                            strategy='mean',
                                                            verbose=0)...
                   iid='deprecated', n_iter=3, n_jobs=-1,
                   param_distributions={'randomforestclassifier__max_depth': [10,
                                                                              15,
                                                                              20,
                                                                              40,
                                                                              50],
                                        'randomforestclassifier__min_samples_split': [4,
                                                                                      6,
                                                                                      8,
                                                                                      10],
                                        'randomforestclassifier__n_estimators': [20,
                                                                                 50,
                                                                                 80],
                                        'simpleimputer__strategy': ['mean',
                                                                    'median',
                                                                    'most_frequent']},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=True, scoring='accuracy', verbose=10)

In [17]:
search.best_params_

{'randomforestclassifier__max_depth': 15,
 'randomforestclassifier__min_samples_split': 8,
 'randomforestclassifier__n_estimators': 20,
 'simpleimputer__strategy': 'most_frequent'}

In [0]:
pipeline = search.best_estimator_

In [0]:
y_pred = pipeline.predict(X_test)

In [20]:
pipeline.score(X_val, y_val)

0.7968013468013468

In [0]:
submission = test[['id']].copy()
submission['status_group'] = y_pred

In [25]:
submission.to_csv('WaterPumpSubmission.csv', index=False)
submission

          id    status_group
0      50785      functional
1      51630      functional
2      17168      functional
3      45559  non functional
4      49871      functional
...      ...             ...
14353  39307  non functional
14354  18990      functional
14355  28749      functional
14356  33492      functional
14357  68707  non functional

[14358 rows x 2 columns]